.jumbotron {
    background-image: url('../image/bandereau.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
label {
    display:block;
}
label.inline {
    display:inline;
}

.formulaire {
position:relative;
border:solid;
background-color:#DDDDDD;
margin:20px 10%;
text-align:center;

}

.formulaire p {
font-size:1.4em;
padding:5px;
font-weight:bold;
}

.container a {
color:white;
}

.container .bouton {
text-align:center;
}
.container .bouton a {
background-color:green;
border:none;
}

.container .titre {
font-size:1.4em;
font-weight:bold;
text-align:center;
}

.formulaire .erreur {
margin:0;
color:red;
}
.formulaire label p {
font-size:1.2em;
font-weight:normal;
}

.formulaire label input {
width:60%;
display:inline;
}

.block_gare {
margin:10px;
}

#creer_compte {
font-size:14px;
padding:5px;
position:absolute;
margin:5px;
bottom:0;
right:0
}

ul#menu_horizontal li { 
display : inline;
font-size: 1.4em;
color:rgba(255, 255, 255, 0.75);
cursor:pointer;
border-radius: 10px;
padding : 0 1em; 

}

ul#menu_horizontal li:hover { 
background-color:#DDDDDD;
color:#212529;
}

div#container_menu{
text-align:center;
}

ul#menu_horizontal {
text-align:center;
border-radius: 10px 10px 0 0;
background-color:#212529;
list-style-type : none; 
}

div#contenu {
border-radius: 10px;
margin:0 20%;
background-color:#EEEEEE;
}
