{% extends 'template.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/connexion.css' %}" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/connexion.js' %}"></script>
{%endblock%}
{% block titre %}
	<div id = 'titre' > 
          <h1 class="display-3">Connexion</h1>

	</div>
{% endblock %}


{%block content %}
	
      <div class="container">
	{% if message %}
	<p class = message> {{message}} <p>
	{%endif%}
	<div id = formulaire1 class = formulaire style='display: none;'>
	<form id = form1 action="{% url 'connexion' %}" method="post" >
	{% csrf_token %}
	
	<p> Se connecter </p>
	<input name = type type=hidden value='connexion'>
	<label for = 'mail'> Adresse mail :
	<input id = "mail" type=text name="mail" placeholder = "Adresse mail" autocomplete="off" required></label>

	<label for = 'password'> Mot de passe : 
	<input id = "password" name="password" type="password" placeholder = "Mot de passe" autocomplete="off" required> </label>
	<p><a id = valider class="btn btn-primary btn-lg" href="#" role="button" onclick="submit(1)">Se connecter</a></p>
	<p><a id=creer_compte class="btn btn-primary btn-lg" href="#" role="button" onclick="changer_form(2)">Créer un compte</a></p>
	
	</form>

	</div>
	
	<div id = formulaire2 class = formulaire style='display: none;'>
	<form id = form2 action="{% url 'connexion' %}" method="post">
	{% csrf_token %}
	
	<p> Créer un compte </p>
	<input name = type type=hidden value='creer'>
	<label for = 'nom'> Nom :
	<input id = "nom" type=text name="nom" placeholder = "Nom" autocomplete="off" required></label>
	<label for = 'nom'> Prénom :
	<input id = "prenom" type=text name="prenom" placeholder = "Prénom" autocomplete="off" required></label>
	<label for = 'statut'> Statut : 
	<select name = 'statut' id = statut>
		  <option value="adulte">Adulte</option>
		  <option value="enfant">Enfant</option>
		</select>
	</label>
	<label for = 'mail'> Adresse mail :
	<input id = "mail" type=text name="mail" placeholder = "Adresse mail" autocomplete="off" required></label>

	
	<label for = 'password'> Mot de passe : 
	<input id = "password" name="password" type=password placeholder = "Mot de passe" autocomplete="off" required> </label>
	<p><a id = valider class="btn btn-primary btn-lg" href="#" role="button" onclick="submit(2)">Créer un compte</a></p>
	<p><a id=creer_compte class="btn btn-primary btn-lg" href="#" role="button" onclick="changer_form(1)">Se connecter</a></p>
	
	</form>

	</div>




        <hr>

      </div> <!-- /container -->
{% endblock %}
