{% extends 'template.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/accueil.css' %}" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/accueil.js' %}"></script>
{%endblock%}

{% block titre %}
	<div id = 'titre' > 
          <h1 class="display-3">Recherche de train</h1>
          <p></p>
	</div>
{% endblock %}


{%block content %}
	
      <div class="container">
	<div class = formulaire>
	<form id = form action="{% url 'rechercher_billet' %}" method="post">
	{% csrf_token %}
	<p> Rechercher un train </p>
	{% if erreur %}
	<p class = erreur> {{message}} </p>
	{% endif %}
	<datalist id="gare">
		{% for gare in liste_gare%}
			<option value="{{gare}}">
		{% endfor %}
		</datalist>
	<label for = 'gare_depart'> Gare de départ : 
	<input id = "gare_depart" type=text name="gare_depart" placeholder = "Gare de départ" list = gare autocomplete="off" {% if gare_depart %}value = "{{gare_depart|default:"''"}}" {%endif%} required></label>

	<label for = 'gare_arrivee'> Gare d'arrivée : 
	<input id = "gare_arrivee" type=text name="gare_arrivee" placeholder = "Gare d'arrivée" list = gare autocomplete="off" {% if gare_arrivee %}value = "{{gare_arrivee|default:"''"}}" {%endif%} required> </label>
	<label for = 'date'> Date : 
	<input id = "date" type=date name="date" {% if date %}value = "{{date|default:"''"}}" {%endif%} required></label>
	<input name=modifier type=hidden value=0>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" onclick="submit()">Rechercher</a></p>
	
	</form>

	</div>


        
      </div> <!-- /container -->
{% endblock %}
